<h2>Total Results: <%=@members.size %></h2>

<% @members.each do |member| %>
  <section class='members_information'>
    <ul>
      <h3 class='name'>Name: <%= member.name %></h3>
      <div id="photo">
        <li> <h4 class='photo'>Photo: <img src= <%= member.photo %></h4></li>
      </div>
      <li> <h4 class='allies'>Allies: <%= member.allies %></h4></li>
      <li> <h4 class='affiliation'>Affiliation: <%= member.affiliation %></h4></li><br>
  </ul>
  </section>
<% end %>
